<section class="row pt-4">
  <div class="card glass">
    <div class="card-body">
      <h1>Ingrese un producto</h1>
      <hr />
      <form id="form" action="/api/productos" method="post">
        <div class="row">
          <div class="col-6">
            <div class="mb-3">
              <label for="nombreProducto" class="form-label"> Nombre: </label>
              <input
                type="text"
                class="form-control"
                id="name"
                aria-describedby="Nombre"
                name="name"
                required
              />
            </div>
            <div class="mb-3">
              <label for="precioProducto" class="form-label"> Precio: </label>
              <input
                type="text"
                class="form-control"
                id="precioProducto"
                name="price"
                required
              />
            </div>
            <div class="mb-3">
              <label for="productStock" class="form-label">
                Stock de producto:
              </label>
              <input
                type="text"
                class="form-control"
                id="productStock"
                name="stock"
                required
              />

            </div>
          </div>
          <div class="col-6">
            <div class="mb-3">
              <label for="productDescription" class="form-label">
                Descripción:
              </label>
              <input
                type="text"
                class="form-control"
                id="productDescription"
                name="description"
                required
              />
            </div>
            <div class="mb-3">
              <label for="productCategory" class="form-label">
                Categoria:
              </label>
              <input
                type="text"
                class="form-control"
                id="productCategory"
                name="category"
                required
              />
            </div>
            <div class="mb-3">
              <label for="thumbnailURL" class="form-label">
                Imagen del producto:
              </label>
              <input
                type="file"
                class="form-control-file d-block"
                id="thumbnail"
                name="thumbnail"
                required
              />
            </div>
          </div>
        </div>
        <button type="submit" class="mt-3 btn btn-primary">Enviar</button>
      </form>
    </div>
  </div>
</section>