<section class="row pt-4">
  <div class="card shadow">
    <div class="card-body">
      <div class="row">
        <div class="col-10">
          <h2>Error en el usuario o contraseña</h2>
        </div>
        <div class="col-2">
          <button
            class="btn btn-primary"
            id="wrongLogin"
            onclick="window.location.href ='/login'"
          >
            Volver
          </button>
        </div>
      </div>
    </div>
  </div>
</section>