<section class="row pt-4">
    <div class="card shadow">
        <div class="card-body">
            <div class="row">
                    <h2>Hasta luego {{name}} </h2>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</section>