<section class="row pt-4">
    <div class="card shadow">
        <div class="card-body">
            <h1>Productos</h1>
            <hr>
            <div class="row">
                <div class="col-4 col-md-3 border-end">
                    {{>sidebarProductos}}
                </div>
                <div id="listaDeProductos" class="col">
                    {{>productosListado}}
                </div>
            </div>
        </div>
    </div>
</section>
