<div class="flex-shrink-0 glass">
  <span class="fs-5 fw-semibold">Categorías</span>
  <ul id="filters" class="list-unstyled ps-0">
    <li class="mb-1 mt-2">
      <button class="border-0 align-items-center rounded">
        <a class="link-dark" href="/productos/categoria/pociones">➜ Pociones</a>
      </button>

    </li>
    <li class="mb-1">
      <button class="border-0 align-items-center rounded">
        <a class="link-dark" href="/productos/categoria/armas">➜ Armas</a>
      </button>

    </li>
    <li class="mb-1">
      <button class="border-0 align-items-center rounded">
        <a class="link-dark" href="/productos/categoria/armaduras">➜ Armaduras</a>
      </button>

    </li>
    <li class="mb-1">
      <button class="border-0 align-items-center rounded">
        <a class="link-dark" href="/productos/">➜ Todos los productos</a>
      </button>

    </li>
  </ul>
</div>